#welcome
  != render :partial=>"lunch/toolbar"
  .info
    %p
      != t("welcome.welcome_to_lunchtime")
      %br
      != t("welcome.contact_admin")
      %br
      != image_tag 'iphone-logo.png'